.main
{
  position: relative;
  z-index: 100;
  padding-bottom: 2rem;
  background: #f4f4f4;
}

.main__content,
.main__sidebar
{
  padding: 0 5px;
}

@media (min-width: 768px)
{
  .main__content,
  .main__sidebar
  {
    padding: 0 15px;
  }

  .main__content
  {
    float: right;
  }

  .main__sidebar
  {
    float: left;
  }
}
