/*
* Скрываем фоновые картинки
*/

.specview *
{
  box-shadow: none;
}

/*
* Цветовые схемы
*/

/* Черным по белому */

.specview_color_bw *:not(.specview-skip)
{
  background: #fff;
  border-color: #000;
  color: #000;
}

/* Белым по черному  */

.specview_color_wb *:not(.specview-skip)
{
  background: #000;
  border-color: #fff;
  color: #fff;
}

/* Синим по голубому  */

.specview_color_b *:not(.specview-skip)
{
  background: #9dd1ff;
  border-color: #063462;
  color: #063462;
}

/*
* Размеры шрифта
*/

/* Medium */

.specview_size_md
{
  font-size: 110%;
}

/* Large */

.specview_size_lg
{
  font-size: 120%;
}
