@import "./directions-specview.css";

.box_directions .box__content
{
  position: relative;
}

/* Toggle */

.directions-toggle
{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 2;
  border: none;
  background: linear-gradient(to bottom, transparent 0%, #fff 75%);
  font-size: 1.625rem;
}

.box_directions_open .directions-toggle
{
  display: none;
}

.directions-toggle:after
{
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  background: url(./img/arrow.png) no-repeat center center / 48px;
  opacity: 0.7;
}

.directions-toggle:hover
{
  background: linear-gradient(to bottom, transparent 0%, #a2d6ff 75%);
}


/* List */

.directions
{
  position: relative;
  z-index: 1;
}

.directions__item
{
  margin-bottom: 15px;
  position: relative;
}

.directions__item:hover
{
  z-index: 2;
}

/* Item */

.direction
{
  position: relative;
  z-index: 1;
}

.direction:hover
{
  z-index: 2;
}

.direction__link
{
  padding: 15px 15px 0;
  background: #fff;
  border: 1px solid #fff;
  position: relative;
  z-index: 2;
}

.direction__link:hover
{
  border: 1px solid #e8e8e8;
  border-bottom: 0;
  background: #fcf7eb;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

.direction__link > a
{
  display: block;
}

.direction__link a
{
  color: #0071c8;
}

.direction__link img
{
  display: block;
  border-radius: 100%;
  width: 100%;
  max-width: 180px;
  border: 1px solid #e8e8e8;
  margin: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}

.directions__item:hover img
{
  box-shadow: none;
}

.direction__link h3
{
  text-align: center;
  margin: 0;
  padding: 1rem 0;
  font-weight: 300;
}

.direction__link h3 > a
{
  text-decoration: none;
}

.direction__link h3 > a:hover
{
  border-bottom: 1px solid rgba(1, 92, 162, 0.6);
}

.direction__desc
{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fcf7eb;
  padding: 0 15px 15px;
  z-index: 3;
  border: 1px solid #e8e8e8;
  border-top: 0;
  font-size: 0.875em;
  color: #626262;
  /*box-shadow: 0 15px 20px rgba(0, 0, 0, .1);*/
}

.direction__desc ul
{
  padding-left: 1.2rem;
}

.direction__link:hover + .direction__desc
{
  display: block;
}

@media only screen and (min-resolution: 144dpi)
{
  .directions-toggle:after
  {
    background-image: url(./img/arrow@2x.png);
  }
}

@media (min-width: 768px)
{
  .directions
  {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    justify-content: center;
    overflow: hidden;
    height: 640px;
  }

  .box_directions_open .directions
  {
    overflow: visible;
    height: auto;
  }

  .directions__item
  {
    width: 50%;
    padding: 0 15px;
  }

  .directions-toggle
  {
    display: flex;
  }
}

@media (min-width: 992px)
{
  .directions
  {
    height: 670px;
  }

  .box_directions_open .directions
  {
    height: auto;
  }

  .directions__item
  {
    width: 33.33333%;
    padding: 0 15px;
  }
}

@media (min-width: 1200px)
{

}
