/*
 * Общие
 */

html 
{
  font-size: 80%;
}

html,
body
{
  overflow-x: hidden;
  min-width: 320px;
}

html.open
{
  overflow-y: hidden; 
}

body
{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;

  position: relative;

  color: #242424;
  background: #f4f4f4;
}

a
{
  color: #0071c8;
}

a:visited
{
  color: #2c91de;
}

a:hover,
a:active
{
  color: #015ca2;
}

h2,h1
{
  font-weight: 300;
}

.open .mlayout
{
  overflow-y: hidden;
}

.content__top 
{
  padding-bottom: 20px;
}

.content__footer
{
  padding: 25px;
}

.mlayout__wrapper
{
  position: relative;
  overflow-x: hidden;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.main__content,
.main__sidebar
{
  padding: 0 5px;
}

.open .mlayout__wrapper
{
  left: 260px;

  overflow-y: hidden;
}

.font_size_sm
{
  font-size: 0.875rem;
}

p
{
  margin-bottom: 1rem;
}

button, input, select
{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

.center-block
{
  float: none;
}

.price
{
  white-space: nowrap;
}


/*
 * Изображения
 */

.img-responsive
{
  max-width: 100%;
}

.img-wide
{
  width: 100%;
}

.img-center
{
  display: block;
  margin: auto;
}



/*
 * Видео
 */

.video-js 
{
  padding-top: 56.25%
}

.vjs-fullscreen {
  padding-top: 0px
}



/*
 * Мобильный сайдбар
 */

.mlayout__side
{
  position: fixed;
  top: 0;
  bottom: 0;
  left: -260px;

  overflow-y: auto;

  width: 260px;

  background: #eadbbb;
  z-index: 4000;
}

.open .mlayout__side
{
  left: 0;
}

.mlayout__curtain
{
  position: fixed;
  z-index: 3000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 260px;

  display: none;

  background-color: rgba(0,0,0,.5);
}

.open .mlayout__curtain
{
  display: block;
}



/*
 * Мобильное меню
 */

.mmenu
{
  margin: 0;
  padding: 0;

  list-style-type: none;
  background: #eadbbb;
}

a.mmenu__link
{
  display: block;

  padding: 15px;

  text-decoration: none;
  background-color: #eadbbb;
  color: #404040;
  border-top: 1px solid #f0f0f0;
  position: relative;
}

.mmenu__item
{
  border-top: 1px solid #c7b796;
}

.mmenu__item_container > .mmenu__link:after
{
  position: absolute;
  content: " ";
  display: block;
  width: 10px;
  height: 16px;
  background-image: url(../img/mmenu-arrow.png);
  background-repeat: no-repeat;
  right: 15px;
  top: 50%;
  margin-top: -8px;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
}

.mmenu__item_open > .mmenu__link:after
{
  
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.mmenu__item:hover > .mmenu__link
{
  color: #222222;
  background-color: #eed6a1;
  border-top: 1px solid #eed6a1;
}

.mmenu__item_active > .mmenu__link,
.mmenu__item_active:hover > .mmenu__link
{
  color: #222222;
  background-color: #f0c976;
  border-top: 1px solid #f0c976;
}

.mmenu__item:first-child
{
  border-top: none;
}

.mmenu__item:last-child
{
  border-bottom: 1px solid #f0f0f0;
}

.mmenu__item:last-child > .mmenu__link
{
  border-bottom: 1px solid #c7b796;
}

.mmenu__inner
{
  margin: 0;
  padding: 0 0 0 15px;
  list-style-type: none;
  display: none;
}

.mmenu__inner .mmenu__link
{
  padding: 12px;
}

.mmenu__inner .mmenu__item:last-child
{
  border-bottom: none;
}

.mmenu__inner .mmenu__item:last-child > .mmenu__link
{
  border-bottom: 1px solid #c7b796;
}

.mmenu__item_open > .mmenu__inner
{
  display: block;
  margin-bottom: -1px;
}

.mmenu__inner > .mmenu__item
{
  border-left: 1px solid #cccccc;
}


/*
 * Мобильный заголовок
 */

.mheader
{
  position: fixed;
  width: 100%;
  height: 45px;

  background: #eadbbb;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  color: #404040;
}

.mheader__title
{
  line-height: 45px;

  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;

  overflow: hidden;

  margin: 0 50px;

  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mheader__toggle
{
  position: relative;
  z-index: 1000;

  float: left;

  width: 45px;
  height: 45px;
  padding: 14px 10px;
}

.mheader__toggle span
{
  display: block;

  height: 3px;
  margin-bottom: 3px;

  border-radius: 4px;
  background: #616161;
}

.mheader__logo
{
  position: relative;
  z-index: 20;

  display: block;
  float: right;

  width: 45px;
  height: 45px;

  background: url(../img/logo-mobile.png) no-repeat left top;
}

/*
* Заголовок
*/

.header
{
  background: #f4f4f4 url(../img/background-top-blur.jpg) no-repeat center top;
  padding-bottom: 25px;
}

.header__logo
{
  padding-top: 65px;
}

.header__tel
{
  padding: 25px 0 15px;
  text-align: center;
}

.header__order
{
  text-align: center;
}

.header-logo
{
  width: 214px;
  height: 195px;
  background: url(../img/logo.png) no-repeat center center;
  display: block;
  margin: auto;
}

.header-tel
{
  font-size: 18px;
  text-align: center;
  display: inline-block;
  background: url(../img/tel.png) no-repeat left center / 45px 45px;
  padding: 0 0 10px 55px;
  height: 45px;
}

.header-tel__desc
{
  font-size: 13px;
  color: #5c5c5c;
}

.header-order
{
  font-size: 1rem;
  padding: 8px 138px 8px 18px;
  cursor: pointer;
  color: #fff;
  border: none;
  background: #007cdc;
  outline: none;
  box-shadow: -2px 2px 3px rgba(0,0,0,0.25);
  position: relative;
  margin-top: 50px;
}

.header-order:before
{
  content: "";
  display: block;
  position: absolute;
  width: 110px;
  height: 103px;
  background: url(../img/doc.png) no-repeat 0 0 / 110px 103px;
  bottom: 0;
  right: 10px;
}

.header-order:hover
{
  background: #006cc0;
}

/*
 * Футер
 */

.footer
{
  background-color: #5f6162;
  color: #ffffff;
  text-align: center;
  padding: 2.1875rem 0;
}

.footer__title
{
  margin-bottom: 15px;
}

.footer__description
{
  font-size: 0.875rem;
}



/*
 * Основной контент
 */

.main
{
  position: relative;
  z-index: 100;
  padding-bottom: 2rem;
}



/*
 * Бокс "обыкновенный"
 */

.box
{
  border: 1px solid #d4dee6;
  box-shadow: -4px 4px 5px rgba(0,0,0,0.1);
  margin-top: 2rem;
  background: #ffffff;
}

.box__row
{
  margin: 0 -1.25rem;
  padding: 0 1.25rem;
}

.box_style_attention
{
  border-color: #ff0000;
  background-color: #feefef;
  font-weight: 600;
  border-width: 3px;
}

.box__header
{
  padding: 1.25rem;
  font-size: 1.625rem;
  background-color: #ede1c7;
}

.box__content
{
  padding: 1.25rem;
}

.box__content p
{
  margin-top: 0;
}

.box__tool
{
  margin-top: 1rem;
}

.box__description
{
  border-top: 1px solid #e8e8e8;
  padding-top: 15px;
}



/*
 * Постраничная навигация
 */

.paginat
{
  margin: 2rem 0 0 0;
  padding: 0;
  list-style-type: none;
}

.paginat__item
{
  float: left;
  margin-right: 8px;
}

.paginat__item a,
.paginat__item span 
{
  line-height: 2rem;

  display: block;

  width: 2.125rem;
  height: 2.125rem;

  text-align: center;
  text-decoration: none;

  border-radius: 100%;

  box-shadow: -2px 2px 3px rgba(0,0,0,0.25);
}

.paginat__item span 
{
  color: #ffffff;
  background: #BBBBBB;
}

.paginat__item a
{
  color: #ffffff;
  background: #007cdc;
}

.paginat__item a:hover
{
  background: #006cc0;
}

.paginat__item_active a:hover,
.paginat__item_active a,
.paginat__item_active span
{
  color: #ffffff;
  background: #BBBBBB;
}

.paginat,
.paginat:before,
.paginat:after
{
  content: " ";
  display: table;
}

.paginat:after
{
  clear: both;
}



/*
 * Руководство
 */

.leader + .leader
{
  margin-top: 1.25rem;
  padding-top: 1.25rem;
  border-top: 1px solid #d4dee6;
}

.leader__name
{
  font-size: 1.25rem;
}

.leader__info
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.leader__info-item
{
  margin-bottom: 0.625rem;
}



/*
 * Новости
 */

.news
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.news__item + .news__item
{
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid #d4dee6;
}

.news__title
{
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.news__date
{
  color: #8a8a8a;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

.news__footer
{
  margin-top: 0.5rem;
}

.news__content,
.news__content:before,
.news__content:after
{
  content: " ";
  display: table;
}
.news__content:after
{
  clear: both;
}



/*
 * Альбом
 */

.album
{
  /*margin-bottom: 0.875rem;*/
}

.album__link
{
  font-size: 1.125rem;
}



/*
 * Галерея
 */

.gallery
{
  margin: 0.875rem -0.625rem 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.gallery__item
{
  padding: 0 0.625rem;
  margin-bottom: 1.25rem;
}

.gallery__link
{
  display: block;
  border: 1px solid #54b4ff;
  font-size: 0;
  box-shadow: -2px 2px 3px rgba(0,0,0,0.15);
}

.gallery__link:hover
{
  border: 1px solid #006cc0;
}

.gallery__preview
{
  width: 100%;
}



/*
 * Таблица
 */

.table
{
  margin: 0 -1.25rem;
  overflow-x: auto;
}

/* В нумерованном списке */

.table_num_list
{
  margin: 1rem -1.25rem 0 -6.25rem;
}
/* / <-- В нумерованном списке */



/* Телефоны на стр. "Контакты" */

.table_phones .table__td:nth-child(2)
{
  white-space: nowrap;
}
/* / <-- Телефоны на стр. "Контакты" */



/* Inner contab__item */

.table_contact
{
  margin: 0 -0.5rem;
}

.table_contact .table__td:nth-child(2)
{
  white-space: nowrap;
}

.table_contact .table__item
{
  background: transparent;
}

.table_contact .table__td
{
  padding: 0.5rem !important;
}
/* / <--  Inner contab__item */



.table__item
{
  width: 100%;
  background: inherit;
}

.table__th
{
  font-weight: 400;
  border-bottom: 3px solid #bababa;
  padding: 0.875rem;
  border-right: 1px solid #e8e8e8;
}

.table__td
{
  padding: 0.875rem;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}

.table__tr:last-child .table__td
{
  border-bottom: none;
}

.table__th:last-child,
.table__td:last-child
{
  border-right: none;
  padding-right: 1.25rem;
}

.table__th:first-child,
.table__td:first-child
{
  padding-left: 1.25rem;
}



/*
 * Таблица альтернативный синтаксис
 */

.table__item-alternative
{
  width: 100%;
  background: inherit;
}

.table__item-alternative th
{
  font-weight: 400;
  border-bottom: 3px solid #bababa;
  padding: 0.875rem;
  border-right: 1px solid #e8e8e8;
}

.table__item-alternative td
{
  padding: 0.875rem;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}

.table__item-alternative tr:last-child td
{
  border-bottom: none;
}

.table__item-alternative th:last-child,
.table__item-alternative td:last-child
{
  border-right: none;
  padding-right: 1.25rem;
}

.table__item-alternative th:first-child,
.table__item-alternative td:first-child
{
  padding-left: 1.25rem;
}

/*
* Таблица "Популярные услуги" на главной странице
*/

.table_popular-col_2
{
  border-top: 1px solid #e8e8e8;
}



/*
 * Списки
 */

.list_type_download,
.list_type_num,
.list_type_birdie,
.list_type_arrow,
.list_type_check,
.list_type_news
{
  margin: 0 0 1rem 0;
  padding: 0;
  list-style-type: none;
}

.list_only
{
  margin-bottom: 0;
}

.list_type_download > .list__item:last-child,
.list_type_num > .list__item:last-child,
.list_type_birdie > .list__item:last-child,
.list_type_arrow > .list__item:last-child,
.list_type_check > .list__item:last-child,
.list_type_news > .list__item:last-child
{
  margin-bottom: 0;
}

.list_type_download > .list__item
{
  margin-bottom: 0.625rem;
}

.list_type_download > .list__item > .list__link
{
  display: inline-block;
  padding-left: 1.6875rem;
  background-repeat: no-repeat;
  background-position: left 2px;
  background-size: 1.0625rem;
  background-image: url(../img/list-download.png);
}

.list_type_check > .list__item
{
  padding-left: 1.6875rem;
  background-repeat: no-repeat;
  background-position: left 4px;
  background-size: 1.0625rem;
  background-image: url(../img/list-check.png);
  margin-bottom: 0.875rem;
}

.list_type_arrow > .list__item
{
  padding-left: 1.6875rem;
  background-repeat: no-repeat;
  background-position: left 3px;
  background-size: 0.625rem;
  background-image: url(../img/list-arrow.png);
  margin-bottom: 1.25rem;
}

.list_type_birdie > .list__item
{
  padding-left: 1.6875rem;
  background-repeat: no-repeat;
  background-position: left 3px;
  background-size: 0.625rem;
  background-image: url(../img/list-birdie.png);
  margin-bottom: 1.25rem;
}

.list_type_birdie > .list__item_active > a
{
  text-decoration: none;
  color: #242424;
}

.list_type_news > .list__item
{
  margin-bottom: 0.625rem;
}

.list_type_news .list__link
{
  font-size: 0.875rem;
  line-height: 1.125rem;
  display:block;
}

.list__date
{
  color: #8a8a8a;
  font-size: 0.75rem;
  line-height: 1.1rem;
  display: block;
}

.list_type_num
{
  counter-reset: item;
}

.list_type_num > .list__item:before
{
  content: counter(item); 
  counter-increment: item;
  display: block;
  width: 4.375rem;
  height: 4.375rem;
  border: 3px solid #007cdc;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  padding-top: 0.5rem;
  font-size: 2rem;
  font-weight: 600;
  color: #007cdc;
}

.list_type_num > .list__item
{
  margin-bottom: 3rem;
  padding-left: 5rem;
  position: relative;
  min-height: 4.375rem;
}



/*
* Список "Наши направления"
*/

.list_type_thumb
{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  padding: 0;
  list-style-type: none;
}

.list_type_thumb .list__item
{
  width: 100%;
  padding: 0 15px;
  margin-bottom: 15px;
}

.list_type_thumb .list__item:last-child
{
  margin-bottom: 0;
}

/*
* Блок "услуга"
*/

.list-thumb
{
  display: block;
  text-decoration: none;
  color: #242424;
  padding: 10px;
  background: #e9f2f7;
}

.list-thumb__img
{
  display: block;
  height: 100%;
  padding-top: 66%;
  background: #e9f2f7 no-repeat center center / cover;
}

.list-thumb__desc
{
  font-size: 0.9375rem;
}

.list-thumb__tool
{
  padding-top: 1rem;
}

.list-thumb__title h2
{
  font-weight: 600;
  line-height: 1.3;
  font-size: 1.375rem;
}

.list-thumb__title a
{
  color: #242424;
  text-decoration: none;
  /*display: block;*/
}

.list-thumb__title a:hover
{
  border-bottom: 1px solid #242424;
}

/*
 * Лицензия
 */

.license
{
  text-align: center;
}

.license + .license
{
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: 1px solid #d4dee6;
}

a.license__inner
{
  display: block;
  border: 2rem solid #ede1c7;
  border-bottom: 1rem solid #ede1c7;
  background-color: #ede1c7;
  max-width: 400px;
  margin: 0 auto 1rem;
  color: #000;
  text-decoration: none;
}

a.license__inner:hover 
{
  color: #000;
}

.license__title
{
  display: block;
  text-align: center;
  display: block;
  border: 0.3125rem solid;
  border-top-color: #c6c6c6;
  border-right-color: #bdbdbd;
  border-left-color: #bababa;
  border-bottom-color: #a2a2a2;
  background: #e5e5e5;
  padding: 0.625rem;
  width: 90%;
  margin: 1rem auto 0;
  font-size: 0.8125rem;
  position: relative;
  box-shadow: -1px 1px 3px rgba(0,0,0,0.3);
}

.license__image
{
  width: 100%;
}

.license__image-shadow
{
  display: block;
  font-size: 0;
  position: relative;
  z-index: 80;
  border: 0.75rem solid;
  border-top-color: #c5b591;
  border-right-color: #ccbc9a;
  border-left-color: #d6c7a7;
  border-bottom-color: #dfd2b5;
  overflow: hidden;
}

.license__image-shadow:after
{
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: inset -1px 2px 8px rgba(0,0,0,0.5);
  z-index: 100;
}

.license__image-shadow:before
{
  display: block;
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 90;
  transition: background 0.3s ease-in;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 0 0;
  background-image: url(../img/zoom.png);
}

.license__inner:hover .license__image-shadow:before
{
  background-color: rgba(0,124,220,0.2);
  background-size: 6.8125rem 6.8125rem;
}

.license__download
{
  display: inline-block;
  padding-left: 1.6875rem;
  background-repeat: no-repeat;
  background-position: left 2px;
  background-size: 1.0625rem;
  background-image: url(../img/list-download.png);
}



/*
 * Документы
 */

.docs
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.docs__item + .docs__item
{
  margin-top: 1.25rem;
  padding-top: 1.25rem;
  border-top: 1px solid #d4dee6;
}

.docs__title
{
  font-size: 1.125rem;
}

.docs__tool
{
  margin-top: 0.625rem;
}



/*
 * Панель
 */

.panel
{
  margin: 0;
  padding: 0 1.25rem 1.25rem 1.25rem;
  list-style-type: none;
  overflow: hidden;
}

.panel__item
{
  margin-top: 1.25rem;
}

.panel__inner
{
  display: block;
  border: 1px solid #54b4ff;
  box-shadow: -2px 2px 3px rgba(0,0,0,0.25);
  height: 6.8125rem;
}

.panel__inner:hover
{
  border-color: #006cc0;
}

.panel__logo
{
  display: block;
  height: 100%;
  width: 31.4868804664723%;
  float:left;
  background-color: #EFF3F9;
  background-repeat: no-repeat;
  background-position: center;
}

.panel__text
{
  height: 100%;
  display:block;
  float: left;
  width: 68.5131195335277%;
  vertical-align: middle;
  padding: 1rem 0 0 1.25rem;
  font-size: 1.125rem;
  color: #000000;
}

.panel__item_color_red .panel__inner
{
  border-color: #f94646;
}

.panel__item_color_red .panel__logo
{
  background-color: #feefef;
}

.panel__item_color_red .panel__inner:hover
{
  border-color: #db0000;
}



/*
 * Хлебные крошки
 */

.bcrum
{
  margin: 0;
  padding: 0;
  list-style-type: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #aeaeae;
}

.bcrum__item
{
  display: inline;
  vertical-align: top;
}

.bcrum__item + .bcrum__item:before
{
  content: "";
  display: inline-block;
  vertical-align: -0.05rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/bcrum-arrow.png);
  background-size: 1.375rem;
  width: 1.5rem;
  margin: 0px 6px;
  height: 1rem;
}

.bcrum a, 
.bcrum span 
{
  color: #aeaeae;
}

/*
 * Меню контента страницы
 */

.page-menu
{
  margin-bottom: 1.25rem;
}



/*
 * Структура организации
 */

.struct
{
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}

.struct .struct:before
{
  position: absolute;
  display: block;
  content: "";
  width: 3px;
  left: -1.6875rem;
  top: -30px;
  bottom: 0;
  background: #ff0000;
  z-index: 900;
}

.struct__item:last-child > .struct:before
{
  display: none;
}

.struct .struct
{
  padding: 0 0 0 3rem;
}

.struct__item
{
  margin: 30px 0;
}

.struct__title
{
  display: block;
  padding: 0.625rem;
  border: 3px solid #ff0000;
  background-color: #ffffff;
  z-index: 1000;
  position: relative;
}

.struct__capt
{
  position: relative;
}

.struct__capt:before
{
  position: absolute;
  display: block;
  content: "";
  height: 3px;
  left: -1.6875rem;
  right: 0;
  top: 50%;
  margin-top: -1.5px;
  background: #ff0000;
  z-index: 900;
}

.struct__capt:after
{
  position: absolute;
  display: block;
  content: "";
  width: 3px;
  left: -1.6875rem;
  top: -30px;
  bottom: 0;
  background: #ff0000;
  z-index: 900;
}

.struct__item:last-child > .struct__capt:after
{
  bottom: 50%;
}

/* Уровень 1 */

.struct__item_level_1 > .struct__capt:before,
.struct__item_level_1 > .struct__capt:after
{
  display: none;
}

/* Уровень 2 */

.struct__item_level_2 > .struct__capt > .struct__title
{
  border-color: #FFAE00;
}

/* Уровень 3 */

.struct__item_level_3 > .struct__capt > .struct__title
{
  border-color: #0BE200;
}

.struct__item_level_3 > .struct__capt:before,
.struct__item_level_3 > .struct__capt:after,
.struct__item_level_3 > .struct:before
{
  background: #FFAE00;
}

/* Уровень 4 */

.struct__item_level_4 > .struct__capt > .struct__title
{
  border-color: #1D92FF;
}

.struct__item_level_4 > .struct__capt:before,
.struct__item_level_4 > .struct__capt:after,
.struct__item_level_4 > .struct:before
{
  background: #0BE200;
}

/* Уровень 5 */

.struct__item_level_5 > .struct__capt > .struct__title
{
  border-color: #b565ff;
}

.struct__item_level_5 > .struct__capt:before,
.struct__item_level_5 > .struct__capt:after,
.struct__item_level_5 > .struct:before
{
  background: #1D92FF;
}




/*
 * Вакансии
 */

.job
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.job__item+.job__item
{
  margin-top: 1.25rem;
  padding-top: 1.25rem;
  border-top: 1px solid #d4dee6;
}

.job__title
{
  font-size: 1.375rem;
}

.job__param
{
  font-weight: 600;
  color: rgb(90, 90, 90);
  display: inline-block;
  margin-right: 0.625rem;
}



/*
 * Календарь
 */

.ui-widget {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
}
.ui-widget .ui-widget {
  font-size: 1rem;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}



/*
 * Контакты
 */

.contab__head
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.contab__desc
{
  margin: 0;
  list-style-type: none;
}

.contab__title
{
  margin-bottom: 10px;

}

.contab__link
{
  text-decoration: none;
  border-bottom: 1px dotted #0071c8;
  font-weight: 600;
}

.contab__link.contab__link_active
{
  border-color: transparent;
}

.contab__body
{
  margin-top: 1rem;
}

.contab__address,
.contab__bus,
.contab__phone,
.contab__clock,
.contab__user
{
  padding-left: 2.5rem;
  background-repeat: no-repeat;
  background-position: left top;
  min-height: 1.8125rem;
  margin-bottom: 1rem;
}

.contab__address
{
  background-image: url(../img/ico-address.png);
  background-size: 1.25rem auto;
}

.contab__bus
{
  background-image: url(../img/ico-bus.png);
  background-size: 1.625rem auto;
}

.contab__bus-item + .contab__bus-item
{
  border-top: 1px solid #e8e8e8;
  padding-top: 0.75rem;
}

.contab__phone
{
  background-image: url(../img/ico-phone.png);
  background-size: 1.625rem auto;
}

.contab__clock
{
  background-image: url(../img/ico-clock.png);
  background-size: 1.625rem auto;
}

.contab__user
{
  background-image: url(../img/ico-user.png);
  background-size: 1.625rem auto;
}

.contab__map
{
  height: 23rem;
}

.contab__item
{
  display: none;
}

.contab__item_active
{
  display: block;
}



/*
 * Элементы формы
 */

select.form__control,
input.form__control,
textarea.form__control
{
  width: 100%;

  color: #6a8294;
  border: 1px solid #cbcbcb;
  outline: none;
  font-size: 1rem;
  display: block;
}

select.form__control,
input.form__control
{
  line-height: 2.375rem;

  height: 2.8125rem;
  padding: 0 0.9375rem;
}

textarea.form__control
{
  resize: none;
  height: 100px;
  padding: 0.9375rem;
}

input.form__control_error,
textarea.form__control_error
{
  border-color: #ff0000 !important;
  background: #fff2f2;
}

.form_gorizontal .form__error,
.form_gorizontal .form__label
{
  line-height: 2rem;
  display: block;
  white-space: nowrap;
}

.form_gorizontal .form__error
{
  overflow: hidden;
  text-overflow: ellipsis; 
}

.form__error
{
  color: #ff0000;
}

.form__row
{
  margin-bottom: 1rem;
}




/*
 * Кнопки
 */

.btn,
a.btn
{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  display: inline-block;
  padding: 8px 18px;
  height: 38px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: none;
  background: #007cdc;
  outline: none;
  box-shadow: -2px 2px 3px rgba(0,0,0,0.25);
}

.btn:hover
{
  background: #006cc0;
}

a.btn_arrow,
.btn_arrow
{
  position: relative;
  padding: 8px 14px 8px 18px;
}

.btn_arrow:after
{
  content: "";
  top: 0;
  right: -19px;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-left: 19px solid #007cdc;
}

.btn_arrow:hover:after
{
  border-left: 19px solid #006cc0;
}

@media only screen and (min-resolution: 144dpi)
{

  /*
  * Заголовок
  */

  .header-tel
  {
    background-image: url(../img/tel@2x.png);
  }

  .header-order:before
  {
    background-image: url(../img/doc@2x.png);
  }
}
