/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

  html 
  {
    font-size: 90%;
  }
  


  /*
   * Главное меню
   */
  
  .menu__item_container > .menu__link
  {
    padding: 0rem 2.27rem 0 1rem;
  }  

  .menu__inner > .menu__item_container > .menu__link
  {
    padding: 0rem 2.27rem 0 0.65rem;
  }

  .menu__item_container > .menu__link:before
  {
    display: block;
  }


  /*
   * Галерея
   */

  .gallery__item
  {
    width: 25%;
  }


} /* <-- Medium devices */