/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

  html 
  {
    font-size: 90%;
  }
  


  /*
   * Главное меню
   */
  
  a.menu__link
  {
    padding: 0 1.4rem;
  }



  /*
   * Галерея
   */

  .gallery__item
  {
    width: 25%;
  }


} /* <-- Medium devices */