@media (min-width: 992px) { 

  html 
  {
    font-size: 90%;
  }


  /*
   * Галерея
   */

  .gallery__item
  {
    width: 25%;
  }

  

  /*
   * Таблица
   */
  
  /* В нумерованном списке */

  .table_num_list
  {
    margin: 0;
  }
  /* / <-- В нумерованном списке */


} /* <-- Medium devices */