@media (min-width: 768px)
{
  /*
   * Модальное окно
   */

  .modal
  {
    width: 380px;
  }

  .modal_close
  {
    top: 0px;
    right: -25px;
  }

  .modal_inner
  {
    padding: 15px 25px;
  }

  .modal.__video .modal_inner
  {
    padding: 15px;
  }
}
