@media (min-width: 768px)
{

  /*
   * Общие
   */

  .content__top 
  {
    min-height: 100%;
    padding-bottom: 140px;
  }

  .content__footer
  {
    margin-top: -140px;
    height: 140px;
  }

  .main__content,
  .main__sidebar
  {
    padding: 0 15px;
  }

  /*
   * Заголовок
   */

  .header
  {
    padding: 30px 0;
  }

  .header__logo
  {
    padding-top: 0;
  }

  .header__tel
  {
    padding-top: 0;
    text-align: right;
  }

  .header__order
  {
    text-align: right;
  }

  .header-logo
  {
    margin: 0;
  }

  .header-tel
  {
    font-size: 21px;
  }


  /*
   * Модальное окно
   */

  .modal
  {
    width: 380px;
  }

  .modal_close
  {
    top: 0px;
    right: -25px;
  }

  .modal_inner
  {
    padding: 15px 25px;
  }

  .modal.__video .modal_inner
  {
    padding: 15px;
  }



  /*
   * Основной контент
   */

  
  .main__content
  {
    float: right;
  }

  .main__sidebar
  {
    float: left;
  }



  /*
   * Панель
   */
  
  .panel__item
  {
    float: left;
    width: 50%;
  }

  .panel__item:nth-child(odd)
  {
    padding-right: 0.625rem;
  }

  .panel__item:nth-child(even)
  {
    padding-left: 0.625rem;
  }



  /*
   * Элементы формы
   */

  .form_gorizontal .form__label
  {
    text-align: right;
  }

  .form_gorizontal .form__error,
  .form_gorizontal .form__label
  {
    line-height: 2.8125rem;
  }



  /*
   * Лицензия
   */
  a.license__inner
  {
    width: 80%;
  }



  /*
   * Кoнтакты
   */

  .contab__title
  {
    display: inline-block;
    vertical-align: bottom;
    margin: 0 15px 0 0;
  }

  /*
  * Таблица "Популярные услуги" на главной странице
  */

  .table_popular-col_1
  {
    margin-right: 0;
  }

  .table_popular-col_2
  {
    border-top: 0;
    margin-left: 0;
  }

  [class*="table_popular-col"] table
  {
    table-layout: fixed;
    width: 100%;
    max-width: 100%;
  }

  [class*="table_popular-col"] td
  {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  [class*="table_popular-col"] td:first-child
  {
    width: 80%;
    position: relative;
  }

  [class*="table_popular-col"] td:first-child:before
  {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20%;
    background: linear-gradient(to right, transparent 0%, #fff 75%);
  }

  [class*="table_popular-col"] td:last-child
  {
    width: 20%;
  }

} /* <-- Small devices */
