.nsearch
{
  float: right;
  position: relative;
  height: 3.51rem;
  width: 40px;
}

.nsearch__inner
{
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  white-space: nowrap;
  height: 3.51rem;
  transition: background 0.5s;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.nsearch__submit
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40px;
  cursor: pointer;
  border: none;
  position: relative;
  background: transparent;
  outline: none;
}

.nsearch__submit .icon-search
{
  font-size: 23px;
  color: #636363;
}

.nsearch__field
{
  display: inline-block;
  vertical-align: middle;
  width: 0;
  overflow: hidden;
  transition: width 0.5s;
}

.nsearch_open .nsearch__inner
{
  padding: 0 15px 0 0;
  background: #ffffff;
}

.nsearch_open .nsearch__field
{
  width: 300px;
}

.nsearch__input
{
  border: none;
  border-bottom: 1px solid #e6e6e6;
  outline: none;
  width: 300px;
  background: none;
}

@media only screen and (min-resolution: 144dpi)
{

}

@media (min-width: 768px)
{

}

@media (min-width: 992px)
{
}

@media (min-width: 1200px)
{

}
