.paid-thumb
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.paid-thumb > li:first-child
{
  margin-top: 0;
}

.paid-thumb > li:not(:last-child)
{
  margin-bottom: 1rem;
}

.paid-thumb__link
{
  display: block;
  padding: 1.5rem;
  background: rgba(0, 113, 200, .03);
  transition: background .4s;
  text-decoration: none;
  font-weight: 600;
}

.paid-thumb__inner:hover > .paid-thumb__link
{
  background: rgba(0, 113, 200, .06);
}

.paid-thumb__inner
{
  border: 1px solid rgba(0, 113, 200, .09);
}

.paid-thumb__inner:hover
{
  border: 1px solid rgba(0, 113, 200, .15);
}

.paid-thumb__img
{
  padding-top: 56.25%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: block;
  opacity: .75;
  transition: opacity .4s;
}

.paid-thumb__inner:hover > .paid-thumb__img
{
  opacity: 1;
}

@media (min-width: 1200px)
{
  .paid-thumb
  {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.5rem;
  }

  .paid-thumb > li
  {
    width: 50%;
    padding: 0 .5rem;
  }

  .paid-thumb > li:nth-last-child(2),
  .paid-thumb > li:last-child
  {
    margin-bottom: 1rem;
  }

  .paid-thumb > li:nth-child(2)
  {
    margin-top: 0;
  }
}
