<!DOCTYPE html>
<html lang="ru">
{{> head}}

<body class="page  {{#if theme}}page_{{theme}}{{/if}} mlayout">

  <aside class="mlayout__side">
    {{> mmenu}}
  </aside>

  <div class="mlayout__curtain" id="mlayout__curtain"></div>

  <div class="mlayout__wrapper content">
    <div class="content__top">

      {{> specview-panel}}
      {{> mheader}}
      {{> header}}
      {{> nav}}

      <main class="main">
        <div class="container main__container">
        {{#if sidebar}}
          <aside class="main__sidebar sidebar">
            <div class="box sidebar__box">
              <div class="box__header">Платные услуги</div>
              <div class="box__content">
                {{> paid-menu}}
              </div>
            </div>
          </aside>
        {{/if}}
          <section class="main__content">
            <div class="box">
              <div class="box__content">
                {{> bcrum}}
                {{> body}}
              </div>
            </div>
          </section>
        </div>
      </main>
    </div>

    {{> footer}}
  </div>
  {{> fix-order-link}}
  {{> scripts}}
</body>
</html>
