<!DOCTYPE html>
<html lang="ru">
{{> head}}

<body class="mlayout">
  <aside class="mlayout__side">
    {{> mmenu}}
  </aside>

  <div class="mlayout__curtain" id="mlayout__curtain"></div>

  <div class="mlayout__wrapper content">
    <div class="content__top">
      
      {{> mheader}}
      {{> header}}
      {{> nav}}

      <main class="main">
        <div class="container">
          <div class="row">
            <section class="col-sm-12 main__content">
              {{> body}}
            </section>
          </div>
        </div>
      </main>
    </div>

    {{> footer}}
  </div>
  {{> scripts}}
</body>
</html>